@import '{}/node_modules/antd/dist/antd.less';

/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: #666 #fff;
}
  
  /* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border-right: 2px solid #fff;
}
/*
.active-detail-panel {
  border: 1px solid orange !important;
}
.detail-deleted {
  filter:blur(2px);
}
*/
body {
  background-color: #f1f1f1;
}

.ant-page-header {
  padding: 16px 0;
}

.site-layout-content {
  background: #f1f1f1;
  padding: 16px;
  min-height: 280px;
}

.ant-layout-sider-light {
  //background: #f1f1f1;
  background-color: #fff;
  //border:1px solid black;
  padding: 16px;
}

.ant-layout-sider-light.ant-layout-sider-zero-width {
  padding: 0;

  .ant-layout-sider-children {
    display:none;
  }
}

#Login {
    background-color: #fff;
    padding: 16px;
    top: 10vh;
    border: 1px solid #ccc;
}


.site-layout-background .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.site-layout-background .trigger:hover {
  color: #1890ff;
}

.ant-collapse-extra {
    .anticon {
        margin-left: 16px;
        font-size: 18px;

        :hover {
            color: orange
        }
    }
}

.site-layout .site-layout-background {
  background: #fff;
}


.diff-drawer {
  h3 {
    color: #666
  }
  .ant-divider {
    color: #999;
    //font-weight: 400;
  }

  .Difference {
      font-family: monospace;
      
      > del {
          background-color: rgb(255, 224, 224);
          text-decoration: line-through;
          padding: 2px;
      }
      
      > ins {
          background-color: rgb(201, 238, 211);
          text-decoration: none;
          padding: 2px;
      }
  }
}



.summernote-airmode {
    border: 1px solid #ddd;
    padding: 8px;
}


main {
  section.ant-layout {
    padding: 16px;
    border: 1px solid #ddd;
    background: #fff;
  }
}

.affix-opiniondetail {
    background-color: #fff !important;
    border-bottom: 2px solid #666;
    margin-bottom: 16px;
    .ant-affix {
        //padding-top: 4px !important;
        background-color: #fff !important;
        border-bottom: 2px solid #666;
    }
}

.opinion-details-list {
    background-color: #fff;
    //border: 1px solid #ddd;

    .item-deleted {
        filter: blur(4px);
    }
}

/*.dropdown-handlungsbedarf {
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;

    padding: 8px;
    :hover {
        filter: brightness(150%);
    }
}*/